
<div class="col-sm-12 flex-container">
    <div class="col-sm-12 form">
      <div class="row">
          <div>
              <div>
                  <div class="sm-jumbotron">
                      <h2>User Registration</h2>
                  </div>
                  <form class="col s12 colorform" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
                      <div class="row">
                          <div class="input-field">
                              <mat-form-field>
                                    <mat-label for="username">Username</mat-label>
                            <input matInput id="username" class="validate" type="text" pattern="[a-zA-Z ]*" ngModel  name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" placeholder="Username" required>
                            <mat-error *ngIf="user.UserName == ''">Required Field</mat-error>
                            <div class="errorformat" *ngIf="usernameError">Username already exists</div>
                            
                        </mat-form-field>
                       
                          </div>
                          
                          <div class="input-field">
                                <mat-form-field>
                                        <mat-label for="Password" [attr.data.error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</mat-label>
                                <input matInput class="validate" type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" placeholder="Password" required minlength="3">
                                <mat-error *ngIf="user.Password == ''">Required Field!</mat-error>
                                <mat-error *ngIf="user.Password?.length < 3 && user.Password != ''">Minimum 3 Characters</mat-error>
                                </mat-form-field>
                            </div>
                      </div>
                      <div class="row row-email">
                            <div class="input-field">
                                <mat-form-field>
                               <mat-label data-error="Invalid Email!">Email</mat-label>
                              <input matInput class="validate" type="text" name="Email" #Email="ngModel" [(ngModel)]="user.Email" placeholder="Email" email required>
                             <mat-error>Invalid Email!</mat-error>
                            </mat-form-field>
                            </div>
                        </div>
                      <div class="row">
                            <div class="input-field">
                                <mat-form-field>
                                        <mat-label>First Name</mat-label>
                              <input matInput type="text" name="FirstName" #FirstName="ngModel" placeholder="First Name" [(ngModel)]="user.FirstName">

                            </mat-form-field>
                            </div>
                            <div class="input-field">
                                    <mat-form-field>
                                  <mat-label>Last Name</mat-label>
                                  <input  matInput type="text" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName" placeholder="Last Name">
                                    </mat-form-field>
                              </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-12 buttons">
                                    <button class="col-sm-4 btn" type="button" (click)="redirectToLogin()">Back</button>
                                    <button  class="col-sm-4 btn" type="submit" >Submit</button>
                                </div>
                            </div>
                  </form>
                  <div id ="center" style="position:fixed;top:150%;left:46%">
                    <mat-spinner *ngIf="loading" class="spinner" mode="indeterminate" ></mat-spinner>
                  
                  </div>
              </div>
          </div>
      </div>
    </div>
    </div>