$black : black;
$fadedwhite : rgba(255, 255, 255, 0.5);
$white : white;
$darkblue : darkblue;


.flex-container, .sm-jumbotron, .row-email,
{
    display: flex;
    justify-content: center;
    text-align: center;
}
.form {
    padding-top: 45px;
    position: absolute;
    border-color: $black;
    border-radius: 5px;
    border-style: solid;
    background-color: $fadedwhite;
    border-radius: 10px;
    width: 435px;
    padding-left: 50px;
}
mat-error {
    background-color: $white;
}
.colorform {
    color: $black;
}
mat-label {
    color: $black;
    font-weight: bolder;
}
.btn
{
    background-color: $darkblue;
    color: $white;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    &:hover {
        background-color: $white;
        color: $darkblue;
        cursor: pointer;
    }
}
.mat-error {
    font-size: 16px;
}
h2 {
    text-decoration: underline;
    color: $darkblue;
}
//phone
@media only screen and (max-width: 640px) {
    .form {
        width: 280px;
    }
}
//tablet
@media only screen and (max-width: 800px) and (min-width: 641px)
{
    .form {
        width: 400px;
        position: relative;
    }
}
//in between
@media only screen and (max-width: 800px) and (min-width: 768px){
    .form {
        width: 700px;
    }
}
@media only screen and (max-width: 812px) and (min-width: 375px) {
    .flex-container
    {
        display: flex;
        text-align: left;
    }
    .row-email {
        justify-content: left;
    }
    .buttons {
        padding-right: 70px;
    }
    .sm-jumbotron {
        justify-content: left;
        text-align: left;
    }
}
// regular ipad
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .flex-container {
        width: 600px;
    }
    .form {
        margin-left: 160px;
        padding-left: 120px;
    }
    h2 {
        justify-content: left;
    }
    .row-email {
        justify-content: center;
    }
    .buttons, h2 {
        justify-content: center;
        margin-left: 80px;
    }
}
//responsive
@media only screen and (max-width: 739px) and (min-width: 400px) {
    .flex-container
    {
        display: flex;
        text-align: left;
    }
    .row-email {
        justify-content: left;
    }

    .buttons {
        padding-right: 70px; 
    }
    .sm-jumbotron {
        justify-content: left;
        text-align: left;
    }
}
//ipad pro
@media only screen and (max-width: 1366px) and (min-width: 1024px) {
    .form {
        width: 800px;
        margin-left: 220px;
    }
    .buttons, h2 {
        padding: 0;
        margin: 0;
    }
}
//iphone 5/SE
@media only screen and (max-width: 568px) and (min-width: 320px) {
    .row-email, .sm-jumbotron {
        justify-content: left;
    }
    .sm-jumbotron {
        text-align: left;
    }
    .buttons {
        width: 70%;
    }
}
//iphone x
@media only screen and (max-width: 812px) and (min-width: 375px) {
.buttons {
    margin: 0 auto;
    }
}
//windows 7
@media only screen and (max-width: 1366px) and (min-width: 768px) {
    .form {
        margin: 0 auto;
        padding: 0;
        width: 580px;
    }
.colorform {
    padding-left: 145px;
}
.sm-jumbotron {
    justify-content: center;
    margin-left: 90px;
    padding-top: 10px;
    padding-bottom: 20px;
    }
}