<div class="col-sm-12 flex-container">
  <div class="form">

      <div class="col-sm-12 align flex-container">
        <div class="col-sm-2 inline"><span class="text">Username: </span></div>
        <div class="col-sm-6 block"><input type="text" class="form-control text"></div>
      </div>
      <br/><br/>
      <div class="col-sm-12 flex-container">
          <div class="col-sm-2 inline"><span class="text">Password: </span></div>
          <div class="col-sm-6 block"><input type="text" class="form-control text"></div>
      </div>
        <br/><br/><br/>
        <button (click)="redirectToLogin()" class="btn">Back</button>
        <button (click)="loginSubmit()" class="btn">Login</button>

  </div>
</div>