<div class="col-sm-12 flex-container">
  <div class="form">
    <form class="col s12 colorform" #userLoginForm="ngForm" (ngSubmit)="loginSubmit(userLoginForm)">
      <div class="col-sm-12 align flex-container">
        <div class="col-sm-2 inline"><span class="text">Username: </span></div>
        <div class="col-sm-6 block"><input type="text" class="form-control text" name="UserName" #UserName="ngModel" [(ngModel)]="getUser.UserName" placeholder="Username"></div>
      </div>
      <br/><br/>
      <div class="col-sm-12 flex-container">
          <div class="col-sm-2 inline"><span class="text">Password: </span></div>
          <div class="col-sm-6 block"><input type="password" class="form-control text" name="Password" #Password="ngModel" [(ngModel)]="getUser.Password" placeholder="Password"></div>
      </div>
      <div *ngIf="error" class="errorLine">Sorry, Incorrect Username or Password</div>
        <br/><br/><br/>
        <div id ="center" style="position:fixed;top:120%;left:47%">
          <mat-spinner *ngIf="loading" class="spinner" mode="indeterminate" ></mat-spinner>
        
        </div>
        
        <button (click)="redirectToLogin()" type="button" class="btn">Back</button>
        <button type="submit" class="btn">Login</button>
        
    </form>
  </div>
</div>