$fadedwhite : rgba(255, 255, 255, 0.5);


.map {
    padding-left: 80px;
}

agm-map {
    padding-left: 150px;
    height: 500px;
    width: 600px;
    max-width: 100%;
    
  }

  @media only screen and (max-width: 600px) {
    agm-map {
        width: 300px;
        height: 300px;
        text-align: center;
        zoom: 0;
    }
}

//ipad
@media only screen and (min-width: 768px) and  (max-width: 1024px)  {
    agm-map {
        width: 300px;
        height: 300px;
        text-align: center;
        zoom: 0;
    }
    .description {
        font-size: 16px;
    }
    #infotext {
        font-size: 15px;
    }
}
// ipad pro
@media only screen and (min-width: 1024px) and  (max-width: 1366px)  {
    agm-map {
        width: 400px;
        height: 400px;
        text-align: center;
        zoom: 0;
    
    }
    .description{
        font-size: 16px;
       
    }
}
//iphone x
@media only screen and (min-width: 375px) and  (max-width: 812px)  { 
    h1 {
        font-size: 30px;
    }
    #description {
        font-size: 14px;
    }
    .map {
        margin-right: 80px;
        padding-left: 53px;
    }
    .biglabel {
        font-size: 18px;
    }
    .info {
        margin-left: 45px;
    }
    #infotext {
        margin-bottom: 60px;
        font-size: 16px;
    }
}

  h1 {
      color: white;
      text-align: center;
      justify-content: center;
  }

  .info {
      color: white;
     font-size: 20px;
     font-weight: bold;
     padding-right: 60px;
  }

  .description {
    background-color: $fadedwhite;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
  }

  #biglabel {
      font-size: 32px;
      text-align: center;
      justify-content: center;
  }

  #infotext {
      justify-content: center;
      text-align: center;
  }

  //iphone 6/7/8 plus
  @media only screen and (min-width: 414px) and  (max-width: 736px)  { 
      .map {
          padding-left: 70px;
      }
  }