<div class="col-sm-12">
   <div class="row">
     
           <div class="col-sm-6 pull-left about-div-picture" >
               <img [src]="imagepath" class="about-picture"/>
           </div>
           <div class="col-sm-6 pull-right about"><br/><br/>
               Thank you for visiting my site! This was for practice and learning new
               technology skills. I've used throughout this process was Angular 5 and typescript, webpack,
               SASS, Bootstrap, MySql, Visual Studio for Mac with Cors connection to Visual 
               Studio Code using a WebAPI using C# .Net, Creating stored procedures for login, hashing, 
               Google Maps API for Angular (This was fun!) and learning parallax. 
<br/><br/><br/>
                If you have any questions or advice for my website, you can contact me at
                 stgulizia@gmail.com :)<br/>

           </div>
       
       </div>
</div>
<br/><br/><br/><br/><br/><br/>
<div class="extradiv"><br/>
    Thanks for stopping by!
    <Br/><br/>
</div>
<br/><br/><br/><br/><br/><br/>
<div class="extradiv"><br/>
        :)
        <br/><br/>
    </div>
    <br/><br/><br/><br/>