$white: white;
$fadedwhite : rgba(255, 255, 255, 0.5);

.about {
    color: $white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-right: 90px;
    
   
}

.about-picture
{
    
    width: 600px;
    height: 500px;
    border-radius: 10px;
    max-width: 100%;
    padding: none;
    
}

.about-div-picture {
    padding-left: 40px;
}

.extradiv {
    background-color : $fadedwhite;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 22px;
}
//ipad
@media only screen and (min-width: 768px) and  (max-width: 1024px)  {
    .about-picture {
        width: 350px;
        height: 390px;
    }

    .about-div-picture {
        padding-top: 30px;
    }

    .about {
        font-size: 16px;
    }
}
//iphone x
@media only screen and (min-width: 375px) and  (max-width: 812px)  { 
    .about-picture {
        width: 280px;
        height: 300px;
    }
    .about-div-picture {
        padding-left: 60px;
    }

    .about {
        padding-left: 50px;
        font-size: 14px;
    }
}

// iphone 6/7/8 plus
@media only screen and (min-width: 414px) and  (max-width: 736px)  { 
    .about {
        padding-left: 20px;
    }
    .about-div-picture {
        padding-left: 65px;
    }
}

//iphone 6/7/8
@media only screen and (min-width: 375px) and  (max-width: 667px)  { 
    .about-div-picture {
        padding-left: 45px;
    }
    .about {
        padding-left: 10px;
    }
}