<div class="col-sm-12">
   <div class="row">
     
           <div class="col-sm-6 pull-left about-div-picture" >
               <img [src]="imagepath" class="about-picture"/>
           </div>
           <div class="col-sm-6 about"><br/><br/>
               Thank you for visiting my site! This was for practice and learning new
               technology skills. I've used throughout this process was Angular 5 and typescript, webpack,
               SASS, Bootstrap, SQL, Visual Studio with Cors connection to Visual 
               Code using a WebAPI using C# .Net, Creating mapping for login, hashing with salt, 
               Google Maps API for Angular and learning parallax. 
<br/><br/><br/>
                If you have any questions or advice for my website, you can contact me at
                <a href="mailto:stgulizia@gmail.com?Subject=Website%20Review" target="_top">stgulizia@gmail.com</a> <br/>

           </div>
       
       </div>
</div>
<br/><br/><br/><br/><br/><br/>
<div class="extradiv"><br/>
    Thanks for stopping by!
    <Br/><br/>
</div>
<br/><br/><br/><br/><br/><br/>
<div class="extradiv"><br/>
        :)
        <br/><br/>
    </div>
    <br/><br/><br/><br/>